<template>
<div class="ui twelve wide mobile six wide tablet four wide computer column">
	<div class="property-item caption-sq shadow-sq small-sq">
		<div class="property-item-inner">

			<div class="price-tag-sq">16 &euro; <span>/ hour</span></div>
			<a class="add-wishlist modal-ui-trigger" href="" data-trigger-for="wishlist">
				<i class="icon icon-add-wishlist"></i>
			</a>

			<a class="image-sq" href="property_page.html">
				<div class="image-wrapper">
					<span class="image-inner">
						<img src="src/assets/images/cars/property_item_cars_01.jpg" alt="" class="">
					</span>
				</div>
			</a>

			<div class="main-details">
				<div class="title-row">
					<a href="property_page.html" class="title-sq">{{titleproduct}}</a>
				</div>

				<div class="icons-row">
					<div class="icons-column">
						<i class="icon icon-heart"></i> 8.7
					</div>
					<div class="icons-column">
						<i class="icon icon-ac"></i> A/C
					</div>
					<div class="icons-column">
						<i class="icon icon-gearbox"></i> A
					</div>
					<div class="icons-column">
						<i class="icon icon-user-circle"></i> x 4
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</template>

<script>
export default {
    props:['titleproduct']
}
</script>