<template>
<div>

<div class="ui layout" id="top">

	<div class="light-section-sq">
		<!-- Hero Full Page -->
		<div class="hero-search-full-page low-sq next-sq">
			<!-- Hero Search Vertical Default -->
			<div class="h-search-v narrow-sq animate-sq shadow-sq">
				<form action="listing_page.html" class="hero-search-form">
					<div class="search-item">
						<i class="icon icon-pickup-date"></i>
						<div class="fltp calendar-sq" id="rangestart">
							<input type="text" class="filter" value="" required placeholder="enter date">
							<label class="placeholder" data-big-placeholder="Pickup date" data-little-placeholder="Pickup date"></label>
						</div>
					</div>

					<div class="search-item">
						<i class="icon icon-return-date"></i>
						<div class="fltp calendar-sq" id="rangeend">
							<input type="text" class="filter" value="" required placeholder="enter date">
							<label class="placeholder" data-big-placeholder="Return date" data-little-placeholder="Return date"></label>
						</div>
					</div>

					<div class="search-item">

						<button class="button-sq">
							<i class="icon icon-search"></i>
							<span>Find a car</span>
						</button>

					</div>

				</form>
			</div>

			<!-- Hero Big - Slick -->
			<div class="sq-slick hero-big slide-up-sq left-sq" data-mobile-arrows="false" data-tablet-arrows="false" data-mobile-dots="true" data-fade="true" data-speed="500" data-ease="linear">
				<!-- .slide-up .fade .top .bottom -->
				<!--Slide 01-->
				<div class="">
					<div class="caption-content">
						<h1>Easy and fast <br>Rent a car</h1>
						<p>In hac habitasse platea dictumst. Integer quis tortor enim. Integer et elit nec magna ultricies convallis. In venenatis eu erat et facilisis.</p>
					</div>
					<!--@*<div class="caption-outside">
							<a class="button-sq link-sq" href="property_page.html">
								<i class="icon big icon-slim-arrow-right"></i>
								<span>read more</span>
							</a>
						</div>-->

					<div class="video-wrapper">
						<iframe src="https://www.youtube.com/embed/BDCU5OFXZ2c?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&start=15&mute=1" allowfullscreen></iframe>
					</div>
				</div>

			</div>

		</div>

	</div>
	<div class="typo-section-sq bottom-default">
		<div class="ui grid container">
			<div id="carsApp" class="row">
				<div class="ui twelve wide mobile twelve wide tablet twelve wide computer column">
					<div class="typo-section-header-sq">
						<h2 class="text-align-center-sq">Popular Cars</h2>
					</div>
				</div>
	<CarCard :key='car.id' v-for='car in products' :titleproduct='car.title'></CarCard>

    
				<div class="ui twelve wide mobile twelve wide tablet twelve wide computer column">
					<div class="typo-section-sq thick-sq">
						<a class="more-trigger" data-more="See All" href="listing_page.html">
							<i class="icon icon-arrow-down-122"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<!-- Sign Up -->
<div class="ui full modal" data-for="modal01">
	<div class="modal-full-background">
		<img src="assets/images/modal/modal_background_001.jpg" alt="">
	</div>

	<i class="icon icon-close close-modal"></i>

	<div class="header center">
		Sign Up Now
	</div>

	<div class="content">
		<a href="" class="button-sq fullwidth-sq modal-ui-trigger" data-trigger-for="modal03">
			<i class="icon icon-email-2"></i>
			<span>Sign Up with Email</span>
		</a>

		<a href="" class="button-sq fullwidth-sq facebook-button">
			<i class="icon icon-logo-facebook2"></i>
			<span>Sign Up with Facebook</span>
		</a>

		<a href="" class="button-sq fullwidth-sq google-button">
			<img src="assets/images/icon-google-plus.svg" alt="">
			<span>Sign Up with Google</span>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. </p>
	</div>

	<div class="actions">
		<div class="border-container">
			<div class="button-sq link-sq modal-ui-trigger" data-trigger-for="modal02">Already a member?</div>

			<div class="button-sq link-sq login-sq modal-ui-trigger" data-trigger-for="modal02">
				Log In
				<i class="icon icon-person-lock-2"></i>
			</div>
		</div>
	</div>
</div>

<!-- Log In -->
<div class="ui full modal" data-for="modal02">
	<div class="modal-full-background">
		<img src="assets/images/modal/modal_background_001.jpg" alt="">
	</div>

	<i class="icon icon-close close-modal"></i>

	<div class="header center">
		Log In
	</div>

	<div class="content">
		<div class="div-c">
			<div class="divided-column">
				<input type="text" placeholder="E-mail Adress">
			</div>
			<div class="divided-column">
				<input type="text" placeholder="Password">
			</div>
		</div>

		<div class="button-sq fullwidth-sq">Sign Up</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. </p>
	</div>

	<div class="actions">
		<div class="border-container">
			<div class="button-sq link-sq modal-ui-trigger" data-trigger-for="modal01">Don’t have an account?</div>

			<div class="button-sq link-sq login-sq modal-ui-trigger" data-trigger-for="modal01">
				Sign Up
				<i class="icon icon-person-add-1"></i>
			</div>
		</div>
	</div>
</div>

<!-- Sign Up with mail -->
<div class="ui full modal" data-for="modal03">
	<div class="modal-full-background">
		<img src="assets/images/modal/modal_background_001.jpg" alt="">
	</div>

	<i class="icon icon-close close-modal"></i>

	<div class="header center">
		Sign Up Now
	</div>

	<div class="content">

		<div class="div-c inline-2">
			<div class="divided-column">
				<input type="text" placeholder="First Name">
			</div>
			<div class="divided-column">
				<input type="text" placeholder="Last Name">
			</div>
		</div>

		<div class="div-c">
			<div class="divided-column">
				<input type="text" placeholder="E-mail Adress">
			</div>
			<div class="divided-column">
				<input type="text" placeholder="Password">
			</div>
		</div>

		<div class="div-c inline-3 one-label">
			<label>Birthday</label>
			<div class="divided-column">
				<select name="dropdown" class="dropdown">
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">...</option>
				</select>
			</div>
			<div class="divided-column">
				<select name="dropdown" class="dropdown">
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">...</option>
				</select>
			</div>
			<div class="divided-column">
				<select name="dropdown" class="dropdown">
					<option value="1">1985</option>
					<option value="2">1986</option>
					<option value="3">1987</option>
					<option value="4">1988</option>
					<option value="5">1989</option>
					<option value="6">...</option>
				</select>
			</div>
		</div>

		<div class="button-sq fullwidth-sq">Sign Up</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus magna vel ex semper, in pharetra justo pulvinar. </p>

	</div>

	<div class="actions">
		<div class="border-container">
			<div class="button-sq link-sq"></div>

			<div class="button-sq link-sq login-sq modal-ui-trigger" data-trigger-for="modal01">
				Log In
				<i class="icon icon-person-lock-2"></i>
			</div>
		</div>
	</div>
</div>

<!-- Wishlist -->
<div class="ui modal small" data-for="wishlist">
	<i class="icon icon-close close-modal"></i>

	<div class="header center">
		<h4>Wishlist</h4>
	</div>

	<div class="content">
		<p>Mauris malesuada leo libero, vitae tempor ante sagittis vitae. Suspendisse consectetur facilisis enim.</p>
		<br>
		<input type="checkbox" id="c01">
		<label for="c01">Beautiful Cars</label>
		<input type="checkbox" id="c02">
		<label for="c02">For Summer</label>
		<input type="checkbox" id="c03">
		<label for="c03">Dream Cars</label>
	</div>

	<div class="actions">
		<div class="div-c inline-2">
			<div class="divided-column">
				<div class="button-sq cancel-sq fullwidth-sq">Cancel</div>
			</div>

			<div class="divided-column">
				<div class="button-sq fullwidth-sq">OK</div>
			</div>
		</div>
	</div>
</div>  
</div>
</template>

<script>
import carCard from '../components/CarCard.vue'

  export default {
						data(){
                            return {
                            products:[],
                            title: "vue js marketplace"
                            }
                        },
						mounted() {
							var vueScope = this;
							$.ajax({
								type: "GET",
								url: 'http://localhost:58101/api/Product',
								async: false,
								success: function (data) {
									console.log(data);
									vueScope.products = data;
								},
								//beforeSend: function (xhr) {
								//	if (token === true) {
								//		var tok = window.localStorage.getItem("OtliAccessToken");
								//		xhr.setRequestHeader("Authorization", "Bearer " + tok);
								//	}
								//},
								error: function (jqXHR, textStatus, errorThrown) {
									console.log(textStatus);
								}
							});
						},
                        components:{
                            CarCard:carCard
                        }
}
</script>
