<template>
<div>
<HomeComponent></HomeComponent>
</div>
</template>

<script>
import homeComp from '../components/CardsOnHome.vue'
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
    components:{
      HomeComponent: homeComp  
    }
}
</script>